@import "custom-bootstrap";

// Custom code
@import "loaders";

// specific parts of HTML
@import "views/login";
@import "views/navbar";
@import "views/torrents";

// common rules
body { overflow-x: hidden; }
.long-text { white-space: nowrap; }
.pointer { cursor: pointer; }


.flex { display: flex; }
.flexall * { display: flex; }

.flex, .flexall {
  &, &.center { justify-content: center; }
}
