@keyframes psyc {
  0%   { background-color: #7B6CA0; }
  25%  { background-color: #7CC256; }
  50%  { background-color: #FEF730; }
  75%  { background-color: #E24494; }
  100% { background-color: #2DA0E2; }
}
.psycload {
  animation: psyc 0.5s infinite;
}

@keyframes spin2 {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.glyphicon-spin {
  animation: spin2 .7s infinite linear;
}
