/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
  .desktop {
    display: none !important;
  }
  /* fonts are small on smartphone! */
  .navbar-nav li a {
    text-align: center;
    font-size: x-large;
  }
  .torrents tr {
    font-size: medium;
  }
  table.torrents {
    table-layout: fixed;
    text-overflow: ellipsis;
  }
  .torrents .server, .torrents .id, .torrents .downloaded, .torrents .seeders, .torrents .speed, .torrents .added_date {
    display: none;
  }
  .torrents .select {
    width: 32px;
  }
  .torrents .select input {
    min-width: 26px;
    min-height: 26px;
  }
  .torrents .name {
    width: 180px;
    overflow: hidden;
  }
  .torrents .status {
    width: 74px;
  }
  .torrents .size {
    width: 60px;
  }
}
/* Intermediate screen (tablets or small PC) */
@media only screen and (min-width : 481px) and (max-width : 1023px) {
  .desktop {
    display: none !important;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
  .mobile {
    display: none !important;
  }
  .showLinks textarea {
    height: 8em;
  }
  .showTorrents textarea {
    height: 8em;
  }
}
