server {
  listen 80;
  server_name << hostname >>;
  return 301 https://$host$request_uri;

  access_log /var/log/nginx/ad/access.log;
  error_log /var/log/nginx/ad/error.log error;
}

server {
  listen 443 ssl http2 default_server;
  server_name << hostname >>;
  root << buildpath >>;
  include /etc/nginx/snippets/ssl-config.partial;
  gzip_types application/javascript text/css;

  proxy_read_timeout 2s;
  proxy_send_timeout 2s;
  proxy_connect_timeout 2s;

  # http://security.stackexchange.com/questions/55790/nginx-how-to-prevent-processing-requests-with-undefined-server-names-with-http
  if ( $http_host !~* ^(<< hostname | replace(r/\./g, '\\.') >>)$ ) {
    return 444;
  }

  location /ad {
    proxy_set_header Host alldebrid.com;
    proxy_set_header Accept-Encoding "";
    proxy_cookie_domain alldebrid.com << hostname >>;
    proxy_redirect www.alldebrid.com /ad; # deprecated
    proxy_redirect / /ad/;
    proxy_redirect https://www.alldebrid.com /ad; # deprecated
    proxy_redirect https://alldebrid.com /ad;
    proxy_pass https://www.alldebrid.com/;
  }

  location /torrent/ {
    proxy_set_header Host upload.alldebrid.com;
    proxy_redirect ~*^(http|https)://www.alldebrid.com /ad;
    proxy_pass https://upload.alldebrid.com/uploadtorrent.php;
  }

  location / {
    expires max;
  }

  location = /index.html {
    expires off;
  }

  access_log /var/log/nginx/ad/access.log combined;
  error_log /var/log/nginx/ad/error.log error;
}
