<div class="row">
  <div>
    <!-- REMINDER: unrestrict links on demand, not only from torrents! -->
    <!-- <form role="form"></form> -->
      <!-- <div class="form-group">
        <label>Links to request</label>
        <span>use one link per line, newline is <b>required</b> between them</span>
        <textarea class="form-control long-text" placeholder="place links here" autofocus ng-model="requestedLinks"></textarea>
      </div>
      <div class="form-group" ng-show="$ctrl.textMode">
        <label>Unrestricted links</label>
        <textarea class="form-control long-text" placeholder="requested links will get converted and put here..." autofocus ng-model="$ctrl.unrestrictedText"></textarea>
      </div> -->


    <div class="text-center">
      <div>
        <label class="display-mode" ng-repeat="type in $ctrl.displayModes">
          <input type="radio" name="linkStyle"
            ng-model="$ctrl.displayMode" ng-value="type" ng-change="$ctrl.changeDisplay()" />
          {{ type }} mode
        </label>
      </div>

      <div ng-show="$ctrl.displayMode === 'href'">
        <ul class="list-group">
          <li class="list-group-item" ng-class="{ 'list-group-item-danger': file.error }" ng-repeat="file in $ctrl.unrestricted">
            <span class="badge" title="{{ file.error }}" ng-if="file.error">{{ file.error }}</span>
            <a href="{{ file.link }}" target="_blank" ng-if="file.filename">{{ file.filename }}</a>
            <a href="{{ file.link }}" target="_blank" ng-if="!file.filename">{{ file.link }}</a>
            <!-- does it ever happen anymore to get 'streaming'? -->
            <a href="{{ file.streaming }}" target="_blank" ng-if="!!file.streaming.length">{{ file.streaming }}</a>
          </li>
        </ul>
      </div>

      <div ng-show="$ctrl.displayMode === 'text'">
        <textarea class="form-control long-text download-area" placeholder="unrestricted links" autofocus
          ng-attr-rows="{{ $ctrl.unrestricted.length + 2 }}" ng-model="$ctrl.unrestrictedText"></textarea>
      </div>

      <div ng-show="$ctrl.displayMode === 'aria2'">
        <textarea class="form-control long-text download-area" placeholder="unrestricted links" autofocus
          ng-attr-rows="{{ $ctrl.unrestricted.length + 2 }}" ng-model="$ctrl.unrestrictedText"></textarea>
      </div>

      <div>
        <button class="btn btn-lg btn-info"
          ng-click="$ctrl.done()" ng-disabled="true" ng-show="$ctrl.working">
          <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
          Loading
        </button>

        <a class="btn btn-lg btn-success" target="_blank" download="unrestricted.txt"
          ng-href="{{ $ctrl.listUrl }}" ng-show="!$ctrl.working && $ctrl.displayMode === 'text'">
          Download as text <span class="glyphicon glyphicon-floppy-save"></span>
        </a>

        <button class="btn btn-lg btn-danger" ng-click="$ctrl.done()" ng-show="!$ctrl.working">
          Done <span class="glyphicon glyphicon-ok"></span>
        </button>
      </div>

    </div>
  </div>
</div>
