<div>
  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline">
        <div class="row">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group">
              <button class="btn btn-md btn-danger" ng-disabled="!$ctrl.checked.length || $ctrl.removing" ng-click="$ctrl.removeChecked()">
                remove <span class="glyphicon glyphicon-refresh glyphicon-spin" ng-show="$ctrl.removing"></span>
              </button>
            </div>
            <div class="btn-group">
              <button class="btn btn-md btn-info" ng-disabled="!$ctrl.checked.length" ng-click="$ctrl.generateLinks()">get links</button>
            </div>
            <div class="btn-group">
              <button class="btn btn-md btn-default" ng-disabled="!$ctrl.checked.length" ng-click="$ctrl.deselect()">deselect</button>
            </div>
            <div class="btn-group">
              <a class="btn btn-md btn-link disabled" ng-show="$ctrl.db.length">{{ $ctrl.db.length }} torrents</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row" ng-if="$ctrl.db.length">
    <table class="table torrents">
      <thead>
        <tr>
          <th></th>
          <th class="id">
            <a class="pointer"
            ng-class="{ 'ordered': $ctrl.orderByField === 'id'}" ng-click="$ctrl.orderBy('id')">
            ID <span class="glyphicon"
                ng-class="{ 'glyphicon-chevron-down': $ctrl.orderReversed, 'glyphicon-chevron-up': !$ctrl.orderReversed }"
                ng-show="$ctrl.orderByField === 'id'"></span>
            </a>
          </th>
          <th class="server">
            <a class="pointer"
            ng-class="{ 'ordered': $ctrl.orderByField === 'server'}" ng-click="$ctrl.orderBy('server')">
            server <span class="glyphicon"
                ng-class="{ 'glyphicon-chevron-down': $ctrl.orderReversed, 'glyphicon-chevron-up': !$ctrl.orderReversed }"
                ng-show="$ctrl.orderByField === 'server'"></span>
            </a>
          </th>
          <th class="name">
            <a class="pointer"
            ng-class="{ 'ordered': $ctrl.orderByField === 'name'}" ng-click="$ctrl.orderBy('name')">
            Filename <span class="glyphicon"
                ng-class="{ 'glyphicon-chevron-down': $ctrl.orderReversed, 'glyphicon-chevron-up': !$ctrl.orderReversed }"
                ng-show="$ctrl.orderByField === 'name'"></span>
            </a>
          </th>
          <th class="status">
            <a class="pointer"
            ng-class="{ 'ordered': $ctrl.orderByField === 'status'}" ng-click="$ctrl.orderBy('status')">
            status <span class="glyphicon"
                ng-class="{ 'glyphicon-chevron-down': $ctrl.orderReversed, 'glyphicon-chevron-up': !$ctrl.orderReversed }"
                ng-show="$ctrl.orderByField === 'status'"></span>
            </a>
          </th>
          <th class="size">
            <a class="pointer"
            ng-class="{ 'ordered': $ctrl.orderByField === 'size'}" ng-click="$ctrl.orderBy('size')">
            size <span class="glyphicon"
                ng-class="{ 'glyphicon-chevron-down': $ctrl.orderReversed, 'glyphicon-chevron-up': !$ctrl.orderReversed }"
                ng-show="$ctrl.orderByField === 'size'"></span>
            </a>
          </th>
          <th class="seeders">
            <a class="pointer"
            ng-class="{ 'ordered': $ctrl.orderByField === 'seeders'}" ng-click="$ctrl.orderBy('seeders')">
            seeders <span class="glyphicon"
                ng-class="{ 'glyphicon-chevron-down': $ctrl.orderReversed, 'glyphicon-chevron-up': !$ctrl.orderReversed }"
                ng-show="$ctrl.orderByField === 'seeders'"></span>
            </a>
          </th>
          <th class="speed">
            <a class="pointer"
            ng-class="{ 'ordered': $ctrl.orderByField === 'speed'}" ng-click="$ctrl.orderBy('speed')">
            speed <span class="glyphicon"
                ng-class="{ 'glyphicon-chevron-down': $ctrl.orderReversed, 'glyphicon-chevron-up': !$ctrl.orderReversed }"
                ng-show="$ctrl.orderByField === 'speed'"></span>
            </a>
          </th>
          <th class="added_date">
            <a class="pointer"
            ng-class="{ 'ordered': $ctrl.orderByField === 'added_date'}" ng-click="$ctrl.orderBy('added_date')">
            date <span class="glyphicon"
                ng-class="{ 'glyphicon-chevron-down': $ctrl.orderReversed, 'glyphicon-chevron-up': !$ctrl.orderReversed }"
                ng-show="$ctrl.orderByField === 'added_date'"></span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointer" ng-repeat="t in $ctrl.db | orderBy:$ctrl.orderByField:$ctrl.orderReversed track by t.id"
        ng-class="{ 'warning': $ctrl.isChecked(t.id) }" ng-click="$ctrl.check(t.id)">
          <td class="select"><input type="checkbox" ng-checked="$ctrl.isChecked(t.id)"></td>
          <td class="id">{{ t.id }}</td>
          <td class="server">{{ t.server }}</td>
          <td class="name">{{ t.name }}</td>
          <td class="status">{{ t.status }}</td>
          <td class="size">{{ t.size | bytes:2 }}</td>
          <td class="seeders">{{ t.seeder }}</td>
          <td class="speed">{{ t.speed }}</td>
          <td class="added_date">{{ t.added_date | date:'dd/MM hh:mm' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" ng-if="!$ctrl.db.length">
    <div class="col-md-12 well-sm">
      <div class="jumbotron">
        <h1>No torrents detected</h1>
        <p>add your first one from the navbar</p>
        <p><a class="btn btn-primary btn-lg disabled" ng-disabled="!paid">Look up!</a></p>
      </div>
    </div>
  </div>
</div>
