<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" ng-click="navbar.collapsed = !navbar.collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">AllDebrid</a>
    <a class="navbar-brand" ng-show="navbar.ajax">
      <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
      <span>loading</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" ng-class="!navbar.collapsed && 'in'">
    <!-- Navbar links -->
    <ul class="nav navbar-nav">
      <li>
        <a>{{ navbar.page() }}</a>
      </li>
      <li>
        <!-- Spinner -->
        <button class="btn btn-default navbar-btn" ng-show="navbar.ajax">
          <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
          <span>loading</span>
        </button>
      </li>
      <li ng-class="{ active: showLinks }">
        <a ng-class="{ 'pointer': paid, 'denied': !paid }" ng-click="paid ? showLinks = !showLinks : null">Unrestricted Links</a>
      </li>
      <li ng-class="{ active: showTorrents }">
        <a ng-class="{ 'pointer': paid, 'denied': !paid }" ng-click="paid ? showTorrents = !showTorrents : null">Add Torrent</a>
      </li>
    </ul>

    <!-- right side of the navbar -->
    <!-- Logout Form -->
    <form class="navbar-form navbar-right" role="logout" ng-submit="navbar.logout()">
      <div class="form-group">
        <span>
          <span class="glyphicon glyphicon-user"></span>
          <span class="right-spacer">{{ navbar.user.username }}</span>
          <span ng-show="paid">
            <span class="glyphicon glyphicon-time"></span>
            <span class="text-success desktop">remaining days: {{ navbar.user.remainingDays }}</span>
            <span class="text-success mobile">days: {{ navbar.user.remainingDays }}</span>
          </span>
          <span ng-show="!navbar.user.remainingDays">
            <span class="text-error">No paid days left, <a href="http://www.alldebrid.com/offer/" target="_blank">renew</a> to use this application</span>
          </span>
          <button type="submit" class="btn btn-default mobile">Logout <span class="glyphicon glyphicon-log-out"></span></button>
        </span>
      </div>
      <div class="form-group desktop">
        <button type="submit" class="btn btn-default">Logout <span class="glyphicon glyphicon-log-out"></span></button>
      </div>
    </form>
  </div>
</div>
